# Core
streamlit

# LangChain Ökosystem
langchain>=0.1.0
sentence-transformers

# LLM
gpt4all

# Vector Search
rank-bm25

# Data
pandas
numpy
scikit-learn

# Dokumentenformate
PyMuPDF
python-docx
reportlab



